html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  font-size: 5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 12rem 12rem 12rem;
  grid-template-rows: 12rem 12rem 12rem;
}

.grid-item {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  font-size: 12rem;
}
